<mat-toolbar>
  <button mat-icon-button aria-label="Menu" (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="text-right">
  <span>APLICACIÓN PARA DISPOSITÍVOS IOT</span>
  <span class="example-spacer"></span>
</div>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>
