<div class="container">
    <h2>Ubicaciones</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let location of locations">
          <!-- <td>{{ location.id }}</td>
          <td>{{ location.name }}</td>
          <td>{{ location.description }}</td> -->
          <td>
            <button class="btn btn-primary btn-sm">Editar</button>
            <button class="btn btn-danger btn-sm">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success">Agregar Ubicación</button>
  </div>
  