<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 180px; border-radius: 0px 0px 5px 0px;">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link link-dark" routerLink="/welcome" routerLinkActive="active-link"><i
          class="fa-solid fa-house"></i> Bienvenida</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-dark" routerLink="/mqtt" routerLinkActive="active-link"><i class="fa-solid fa-key"></i>
        MQTT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-dark" routerLink="/server" routerLinkActive="active-link"><i
          class="fa-solid fa-server"></i> Servidor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-dark" routerLink="/locations" routerLinkActive="active-link"><i
          class="fa-solid fa-location-dot"></i> Ubicaciones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-dark" routerLink="/devices" routerLinkActive="active-link"><i
          class="fa-solid fa-microchip"></i> Dispositivos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-dark" routerLink="/dashboard" routerLinkActive="active-link"><i
          class="fa-solid fa-chalkboard"></i> Tablero</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-dark" routerLink="/report" routerLinkActive="active-link"> <i
          class="fa-solid fa-microchip"></i> Reportes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-dark" routerLink="/users" routerLinkActive="active-link"><i class="fa-solid fa-user"></i>
        Usuarios</a>
    </li>
  </ul>
</div>
