<!-- <div class="d-flex flex-column vh-100 bg-light">
  <nav class="navbar navbar-light bg-light flex-column">
    <ul class="nav flex-column p-3">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/welcome" routerLinkActive="active">Bienvenida</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/locations">Ubicaciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/devices">Dispositivos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Tablero</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/report">Reportes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/server">Servidor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/mqtt">MQTT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users">Usuarios</a>
      </li>
    </ul>
  </nav>
</div> -->
<div class="sidebar">
  <nav class="navbar navbar-light bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/welcome" routerLinkActive="active-link">Bienvenida</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/locations" routerLinkActive="active-link">Ubicaciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/devices" routerLinkActive="active-link">Dispositivos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active-link">Tablero</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/report" routerLinkActive="active-link">Reportes</a>
      </li>
      <!-- Agregar más enlaces aquí según lo necesario -->
    </ul>
  </nav>
</div>
